

################################################################################
##
## ~/.xprofile
##
################################################################################




################################################################################
### Head: Style
##

##
## Style
##

[ -f ~/.style ] && . ~/.style

##
### Tail: Style
################################################################################
